<body background="assets/images/background.png">
<br><br><br><br><br><br> 
<!-- Page Content -->
<div class="container" align="center">
        <!-- Jumbotron Header -->
        <header class="jumbotron my-4" style ='background-color: #FFC0CB'>
          <h1 class="text-uppercase text-center"> Team Members!</h1>
          <p class="lead">
            Our team consist of 4 members who are pursuing software
            engineering technology in Centennial college. 
          </p>
        </header>
        <!-- About Page -->
        <div class="row text-center">
          <div class="col-lg-4">
            <div class="card h-100">
              <img
                class="card-img-top"
                src="assets/images/myself.jpg"
                alt="" height="350" 
              />
              <div class="card-body">
                <p class="card-text">
                  Komaldeep Kaur
                </p>
              </div>
            </div>
          </div>
      
          <div class="col-lg-4">
            <div class="card h-100">
              <img
                class="card-img-top"
                src="assets/images/rajan.jpg"
                alt="" height="350" 
              />
              <div class="card-body">
                <p class="card-text">
                  Rajandeep Kaur
                </p>
              </div>
            </div>
          </div>
      
          <div class="col-lg-4">
            <div class="card h-100">
              <img class="card-img-top" src="assets/images/raj.jpg" alt="" height="350"  />
              <div class="card-body">
                <p class="card-text">
                  Raj Koradia
                </p>
              </div>
            </div>
          </div>
        </div>
        <br>
        <!-- /.row -->
        <div align="center">
            <div class="col-lg-4">
                <div class="card h-100">
                  <img
                    class="card-img-top"
                    src="assets/images/lin.jpg"
                    alt="" height="350" 
                  />
                  <div class="card-body">
                    <p class="card-text">
                      Phuong Linh Pham
                    </p>
                  </div>
                </div>
              </div>
        <!-- /.row -->
      </div>
    </div>
      <!-- /.container -->
    </body>